.ball{
    position: relative;
    height: 15px;
    width: 15px;
    background-image: linear-gradient(rgb(0, 0, 0),rgb(255, 255, 255));
    border-radius: 50%;
    margin-left: 55%;
    margin-top: -150px;
    animation: bounce 0.8s ease-in-out infinite both;
}
@keyframes bounce{
    0%, 100%{
     transform: translate(0px, 0px);
    }
    50%{
     transform: translate(0px, 50px) scale(1, 0.77);
    }
}