body{
    padding: 20px 200px; 
}
h1{
    border-top-right-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 0px;
}
#textbox{
    width: 99.2%;
    border-width: 2px;
    border-color: blue;
    resize: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    caret-color: blue;
    border-left: none;
    border-right: none;
}
#word{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
#char{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    border-bottom-left-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: blue;
    font-size: 28px;
    font-weight: bold;
    color: whitesmoke;
    padding: 15px;
    margin: 0px;
    margin-top: -5px;
}